@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>
<button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
    <div class="handle"></div>
</button>
<input type="checkbox" data-toggle="toggle" id="isActiveToggle">
<div class="form">
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="check" />
        <label class="custom-control-label" for="check"></label>
    </div>
</div>
<h2>hiuhiuh</h2>